<?xml version="1.0"?>
<!--
  ~ Magmodules.eu - http://www.magmodules.eu
  ~
  ~ NOTICE OF LICENSE
  ~ This source file is subject to the Open Software License (OSL 3.0)
  ~ that is bundled with this package in the file LICENSE.txt.
  ~ It is also available through the world-wide-web at this URL:
  ~ http://opensource.org/licenses/osl-3.0.php
  ~ If you did not receive a copy of the license and are unable to
  ~ obtain it through the world-wide-web, please send an email
  ~ to info@magmodules.eu so we can send you a copy immediately.
  ~
  ~ @category      Magmodules
  ~ @package       Magmodules_Channable
  ~ @author        Magmodules <info@magmodules.eu)
  ~ @copyright     Copyright (c) 2017 (http://www.magmodules.eu)
  ~ @license       http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
  ~
  -->
<config>
    <modules>
        <Magmodules_Channable>
            <version>1.5.3</version>
        </Magmodules_Channable>
    </modules>
    <global>
        <helpers>
            <channable>
                <class>Magmodules_Channable_Helper</class>
            </channable>
        </helpers>
        <blocks>
            <channable>
                <class>Magmodules_Channable_Block</class>
            </channable>
        </blocks>
        <models>
            <channable>
                <class>Magmodules_Channable_Model</class>
            </channable>
        </models>
        <resources>
            <magmodules_channable_setup>
                <setup>
                    <module>Magmodules_Channable</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magmodules_channable_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <channable>
                <use>standard</use>
                <args>
                    <module>Magmodules_Channable</module>
                    <frontName>channable</frontName>
                </args>
            </channable>
        </routers>
        <product>
            <collection>
                <attributes>
                    <image/>
                </attributes>
            </collection>
        </product>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <magmodules_channable after="Mage_Adminhtml">Magmodules_Channable_Adminhtml</magmodules_channable>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <magmodules_channable>
                    <files>
                        <default>Magmodules_Channable.csv</default>
                    </files>
                </magmodules_channable>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <channable>
            <connect>
                <token backend_model="adminhtml/system_config_backend_encrypted"></token>
                <enabled>1</enabled>
                <max_products>200</max_products>
            </connect>
            <data>
                <name>name</name>
                <description>description</description>
                <brand>manufacturer</brand>
                <ean>sku</ean>
                <sku>sku</sku>
                <color>color</color>
                <images>all</images>
                <delivery>fixed</delivery>
                <delivery_in>24 Hours</delivery_in>
                <delivery_out>1-7 Days</delivery_out>
                <stock_status>1</stock_status>
                <stock>1</stock>
            </data>
            <server>
                <memory_limit>1024M</memory_limit>
                <max_execution_time>300</max_execution_time>
                <overwrite>0</overwrite>
            </server>
        </channable>
    </default>
</config>